---
http_interactions:
- request:
    method: get
    uri: http://api.travis-ci.org/repos/how-is/how_is/builds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://api.travis-ci.org/repos/how-is/how_is/builds
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 06 Jan 2018 14:58:04 GMT
- request:
    method: get
    uri: https://api.travis-ci.org/repos/how-is/how_is/builds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Endpoint:
      - Travis::Api::App::Endpoint::Repos
      X-Pattern:
      - "/:owner_name/:name/builds"
      X-Oauth-Scopes:
      - public
      X-Accepted-Oauth-Scopes:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"builds":[{"id":325787402,"repository_id":8014235,"commit_id":96770548,"number":"833","event_type":"pull_request","pull_request":true,"pull_request_title":"[WIP]
        Idempotent reports","pull_request_number":217,"config":{"language":"ruby","rvm":["2.3.3","2.4.1"],".result":"configured","group":"stable","dist":"trusty"},"state":"passed","started_at":"2018-01-06T14:13:43Z","finished_at":"2018-01-06T14:14:47Z","duration":110,"job_ids":[325787403,325787404]},{"id":325787387,"repository_id":8014235,"commit_id":96770545,"number":"832","event_type":"push","pull_request":false,"pull_request_title":null,"pull_request_number":null,"config":{"language":"ruby","rvm":["2.3.3","2.4.1"],".result":"configured","group":"stable","dist":"trusty"},"state":"passed","started_at":"2018-01-06T14:17:43Z","finished_at":"2018-01-06T14:18:27Z","duration":109,"job_ids":[325787388,325787389]},{"id":325787281,"repository_id":8014235,"commit_id":96770516[...]
- request:
    method: get
    uri: https://api.travis-ci.org/repo/how-is%2Fhow_is/branches?sort_by=default_branch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Travis-Api-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Branches::Find
      X-Oauth-Scopes:
      - ''
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "branches",
          "@href": "/repo/how-is%2Fhow_is/branches?sort_by=default_branch",
          "@representation": "standard",
          "@pagination": {
            "limit": 25,
            "offset": 0,
            "count": 135,
            "is_first": true,
            "is_last": false,
            "next": {
              "@href": "/repo/how-is%2Fhow_is/branches?limit=25&offset=25&sort_by=default_branch",
              "offset": 25,
              "limit": 25
            },
            "prev": null,
            "first": {
              "@href": "/repo/how-is%2Fhow_is/branches?sort_by=default_branch",
              "offset": 0,
              "limit": 25
            },
            "last": {
              "@href": "/repo/how-is%2Fhow_is/branches?limit=25&offset=125&sort_by=default_branch",
              "offset": 125,
              "limit": 25
            }
          },
          "branches": [
            {
              "@type": "branch",
              "@href": "/repo/8014235/branch/master",
              "@representation": "standard",
              "name": "master",
              "repository": {
                "@type": "repository",
                "@href": "/repo/8014235",
                "@representation": "minimal",
                "id": 8014235,
                "name": "how_is",
                "slug": "how-is/how_is"
              },
              "default_branch": true,
              "exists_on_github": true,
              "last_build": {
                "@type": "build",
                "@href": "/build/354836524",
                "@representation": "minimal",
                "id": 354836524,
                "number": "957",
                "state": "passed",
                "duration": 297,
                "event_type": "push",
                "previous_state": "passed",
                "pull_request_title": null,
                "pull_request_number": null,
                "started_at": "2018-03-17T21:16:29Z",
                "finished_at": "2018-03-17T21:18:08Z"
              }
            },
            {
              "@type": "branch",
              "@href": "/repo/8014235/branch/better-errors",
              "@representation": "standard",
              "name": "better-errors",
              "repository": {
                "@type": "repository",
[...]
- request:
    method: get
    uri: https://api.travis-ci.org/repo/how-is%2Fhow_is/builds?branch.name=master&event_type=push
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Travis-Api-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Builds::Find
      X-Oauth-Scopes:
      - ''
    body:
      encoding: ASCII-8BIT
      string: |-
   [...]
- request:
    method: get
    uri: https://api.travis-ci.org/repo/duckinator%2Finq/branches?sort_by=default_branch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Travis-Api-Version:
      - '3'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Branches::Find
      X-Oauth-Scopes:
      - ''
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "error",
          "error_type": "not_found",
          "error_message": "repository not found (or insufficient access)",
          "resource_type": "repository"
        }
  recorded_at: Wed, 01 May 2019 13:46:02 GMT
recorded_with: VCR 4.0.0
