---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/repo/duckinator%2Finq/branches?sort_by=default_branch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Travis-Api-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Branches::Find
      X-Oauth-Scopes:
      - ''
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "branches",
          "@href": "/repo/duckinator%2Finq/branches?sort_by=default_branch",
          "@representation": "standard",
          "@pagination": {
            "limit": 25,
            "offset": 0,
            "count": 161,
            "is_first": true,
            "is_last": false,
            "next": {
              "@href": "/repo/duckinator%2Finq/branches?limit=25&offset=25&sort_by=default_branch",
              "offset": 25,
              "limit": 25
            },
            "prev": null,
            "first": {
              "@href": "/repo/duckinator%2Finq/branches?sort_by=default_branch",
              "offset": 0,
              "limit": 25
            },
            "last": {
              "@href": "/repo/duckinator%2Finq/branches?limit=25&offset=150&sort_by=default_branch",
              "offset": 150,
              "limit": 25
            }
          },
          "branches": [
            {
              "@type": "branch",
              "@href": "/repo/8014235/branch/master",
              "@representation": "standard",
              "name": "master",
              "repository": {
                "@type": "repository",
                "@href": "/repo/8014235",
                "@representation": "minimal",
                "id": 8014235,
                "name": "inq",
                "slug": "duckinator/inq"
              },
              "default_branch": true,
              "exists_on_github": true,
              "last_build": {
                "@type": "build",
                "@href": "/build/624851041",
                "@representation": "minimal",
                "id": 624851041,
                "number": "1277",
                "state": "passed",
                "duration": 218,
                "event_type": "push",
                "previous_state": "passed",
                "pull_request_title": null,
                "pull_request_number": null,
                "started_at": "2019-12-13T23:45:22Z",
                "finished_at": "2019-12-13T23:46:26Z",
                "private": false
              }
            },
            {
              "@type": "branch",
              "@href": "/repo/8014235/branch/v3.0.0",
              "@representation": "standard",
              "name": "v3.0.0",
              "repository": {
                "@type": "repository",
                "@href": "/repo/8014235",
                "@representation": "minimal",
                "id": 8014235,
                "name": "inq",
                "slug": "duckinator/inq"
              },
       [...]
