---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/how-is/example-empty-repository
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZHVja2luYXRvcjo5MTgyNzc3ZmYzYzAwNjc5NTE5M2E1NzBjZGFjMzI2YjY0NDU5ZGM5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4036'
      X-Ratelimit-Reset:
      - '1515251555'
      Etag:
      - W/"96f787420617b6b5ca25f16b3525f398"
      Last-Modified:
      - Fri, 09 Dec 2016 02:42:09 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":75994848,"name":"example-empty-repository","full_name":"how-is/example-empty-repository","owner":{"login":"how-is","id":20577802,"avatar_url":"https://avatars0.githubusercontent.com/u/20577802?v=4","gravatar_id":"","url":"https://api.github.com/users/how-is","html_url":"https://github.com/how-is","followers_url":"https://api.github.com/users/how-is/followers","following_url":"https://api.github.com/users/how-is/following{/other_user}","gists_url":"https://api.github.com/users/how-is/gists{/gist_id}","starred_url":"https://api.github.com/users/how-is/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/how-is/subscriptions","organizations_url":"https://api.github.com/users/how-is/orgs","repos_url":"https://api.github.com/users/how-is/repos","events_url":"https://api.github.com/users/how-is/events{/privacy}","received_events_url":"https://api.github.com/users/how-is/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/how-is/example-empty-repository","description":"An
        example repository with no Pull Requests or Issues, for testing how_is.","fork":false,"url":"https://api.github.com/repos/how-is/example-empty-repository","forks_url":"https://api.github.com/repos/how-is/example-empty-repository/forks","keys_url":"https://api.github.com/repos/how-is/example-empty-repository/keys{/key_id}","collaborators_url":"https://api.github.com/repos/how-is/example-empty-repository/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/how-is/example-empty-repository/teams","hooks_url":"https://api.github.com/repos/how-is/example-empty-repository/hooks","issue_events_url":"https://api.github.com/repos/how-is/example-empty-repository/issues/events{/number}","events_url":"https://api.github.com/repos/how-is/example-empty-repository/events","assignees_url":"https://api.github.com/repos/how-is/example-empty-repository/assignees{/user}","branches_url":"https://api.github.com/repos/how-is/example-empty-repository/branches{/branch}","tags_url":"https://api.github.com/repos/how-is/example-empty-repository/tags","blobs_url":"https://api.github.com/repos/how-is/example-empty-repository/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/how-is/example-empty-repository/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/how-is/example-empty-repository/git/refs{/sha}","trees_url":"https://api.github.com/repos/how-is/example-empty-repository/git/trees{/sha}","statuses_url":"https://api.github.com/repos/how-is/example-empty-repository/statuses/{sha}","languages_url":"https://api.github.com/repos/how-is/example-empty-repository/languages","stargazers_url":"https://api.github.com/repos/how-is/example-empty-repository/stargazers","contributors_url":"https://api.github.com/repos/how-is/example-empty-repository/contributors","subscribers_url":"https://api.github.com/repos/how-is/example-empty-repository/subscribers","subscription_url":"https://api.github.com/repos/how-is/example-empty-repository/subscription","commits_url":"https://api.github.com/repos/how-is/example-empty-repository/commits{/sha}","git_commits_url":"https://api.github.com/repos/how-is/example-empty-repository/git/commits{/sha}","comments_url":"https://api.github.com/repos/how-is/example-empty-repository/comments{/number}","issue_comment_url":"https://api.github.com/repos/how-is/example-empty-repository/issues/comments{/number}","contents_url":"https://api.github.com/repos/how-is/example-empty-repository/contents/{+path}","compare_url":"https://api.github.com/repos/how-is/example-empty-repository/compare/{base}...{head}","merges_url":"https://api.github.com/repos/how-is/example-empty-repository/merges","archive_url":"https://api.github.com/repos/how-is/example-empty-repository/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/how-is/example-empty-repository/downloads","issues_url":"https://api.github.com/repos/how-is/example-empty-repository/issues{/number}","pulls_url":"https://api.github.com/repos/how-is/example-empty-repository/pulls{/number}","milestones_url":"https://api.github.com/repos/how-is/example-empty-repository/milestones{/number}","notifications_url":"https://api.github.com/repos/how-is/example-empty-repository/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/how-is/example-empty-repository/labels{/name}","releases_url":"https://api.github.com/repos/how-is/example-empty-repository/releases{/id}","deployments_url":"https://api.github.com/repos/how-is/example-empty-repository/deployments","created_at":"2016-12-09T02:42:09Z","updated_at":"2016-12-09T02:42:09Z","pushed_at":"2016-12-09T02:42:10Z","git_url":"git://github.com/how-is/example-empty-repository.git","ssh_url":"git@github.com:how-is/example-empty-repository.git","clone_url":"https://github.com/how-is/example-empty-repository.git","svn_url":"https://github.com/how-is/example-empty-repository","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"organization":{"login":"how-is","id":20577802,"avatar_url":"https://avatars0.githubusercontent.com/u/20577802?v=4","gravatar_id":"","url":"https://api.github.com/users/how-is","html_url":"https://github.com/how-is","followers_url":"https://api.github.com/users/how-is/followers","following_url":"https://api.github.com/users/how-is/following{/other_user}","gists_url":"https://api.github.com/users/how-is/gists{/gist_id}","starred_url":"https://api.github.com/users/how-is/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/how-is/subscriptions","organizations_url":"https://api.github.com/users/how-is/orgs","repos_url":"https://api.github.com/users/how-is/repos","events_url":"https://api.github.com/users/how-is/events{/privacy}","received_events_url":"https://api.github.com/users/how-is/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":1}'
  recorded_at: Sat, 06 Jan 2018 15:02:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/how-is/example-empty-repository/commits?since=2016-11-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZHVja2luYXRvcjo5MTgyNzc3ZmYzYzAwNjc5NTE5M2E1NzBjZGFjMzI2YjY0NDU5ZGM5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4035'
      X-Ratelimit-Reset:
      - '1515251555'
      Etag:
      - W/"f2b143b787eb63a9dadcded7eca8f27d"
      Last-Modified:
      - Fri, 09 Dec 2016 02:42:10 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"a825118ed65c486c0b35c5926ac88086c958457b","commit":{"author":{"name":"Ellen
        Marie Dash","email":"me@duckie.co","date":"2016-12-09T02:42:10Z"},"committer":{"name":"Ellen
        Marie Dash","email":"me@duckie.co","date":"2016-12-09T02:42:10Z"},"message":"Initial
        commit","tree":{"sha":"6bbe79cba96095077c91fe6dc44166233c273c3e","url":"https://api.github.com/repos/how-is/example-empty-repository/git/trees/6bbe79cba96095077c91fe6dc44166233c273c3e"},"url":"https://api.github.com/repos/how-is/example-empty-repository/git/commits/a825118ed65c486c0b35c5926ac88086c958457b","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/how-is/example-empty-repository/commits/a825118ed65c486c0b35c5926ac88086c958457b","html_url":"https://github.com/how-is/example-empty-repository/commit/a825118ed65c486c0b35c5926ac88086c958457b","comments_url":"https://api.github.com/repos/how-is/example-empty-repository/commits/a825118ed65c486c0b35c5926ac88086c958457b/comments","author":{"login":"duckinator","id":39698,"avatar_url":"https://avatars3.githubusercontent.com/u/39698?v=4","gravatar_id":"","u[...]
- request:
    method: get
    uri: https://api.github.com/repos/how-is/example-empty-repository/commits/a825118ed65c486c0b35c5926ac88086c958457b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZHVja2luYXRvcjo5MTgyNzc3ZmYzYzAwNjc5NTE5M2E1NzBjZGFjMzI2YjY0NDU5ZGM5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
[...]
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query {\n  repository(owner: \"how-is\", name: \"example-empty-repository\")
        {\n    issues(last: 1, orderBy:{field: CREATED_AT, direction: ASC}) {\n      edges
        {\n        cursor\n      }\n    }\n  }\n}"}'
    headers:
      Authorization:
      - bearer 9182777ff3c006795193a570cdac326b64459dc9
      Bearer-Token:
      - 9182777ff3c006795193a570cdac326b64459dc9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4955'
      X-Ratelimit-Reset:
      - '1515254347'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; param=idl
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repository":{"issues":{"edges":[]}}}}'
  recorded_at: Sat, 06 Jan 2018 15:02:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/how-is/example-empty-repository/issues
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZHVja2luYXRvcjo5MTgyNzc3ZmYzYzAwNjc5NTE5M2E1NzBjZGFjMzI2YjY0NDU5ZGM5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4033'
      X-Ratelimit-Reset:
      - '1515251555'
      Etag:
      - '"74b5718094ce8869d8149d99338cb4f8"'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 06 Jan 2018 15:02:32 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query {\n  repository(owner: \"how-is\", name: \"example-empty-repository\")
        {\n    pulls(last: 1, orderBy:{field: CREATED_AT, direction: ASC}) {\n      edges
        {\n        cursor\n      }\n    }\n  }\n}"}'
    headers:
      Authorization:
      - bearer 9182777ff3c006795193a570cdac326b64459dc9
      Bearer-Token:
      - 9182777ff3c006795193a570cdac326b64459dc9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4955'
      X-Ratelimit-Reset:
      - '1515254347'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; param=idl
    body:
      encoding: ASCII-8BIT
      string: '{"data":null,"errors":[{"message":"Field ''pulls'' doesn''t exist on
        type ''Repository''","locations":[{"line":3,"column":5}]}]}'
  recorded_at: Sat, 06 Jan 2018 15:02:32 GMT
- request:
    method: get
    uri: https://api.github.com/repos/how-is/example-empty-repository/pulls
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZHVja2luYXRvcjo5MTgyNzc3ZmYzYzAwNjc5NTE5M2E1NzBjZGFjMzI2YjY0NDU5ZGM5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4032'
      X-Ratelimit-Reset:
      - '1515251555'
      Etag:
      - '"74b5718094ce8869d8149d99338cb4f8"'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 06 Jan 2018 15:02:32 GMT
- request:
    method: get
    uri: http://api.travis-ci.org/repos/how-is/example-empty-repository/builds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://api.travis-ci.org/repos/how-is/example-empty-repository/builds
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 06 Jan 2018 15:02:32 GMT
- request:
    method: get
    uri: https://api.travis-ci.org/repos/how-is/example-empty-repository/builds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Endpoint:
      - Travis::Api::App::Endpoint::Repos
      X-Pattern:
      - "/:owner_name/:name/builds"
      X-Oauth-Scopes:
      - public
      X-Accepted-Oauth-Scopes:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"builds":[],"commits":[]}'
  recorded_at: Sat, 06 Jan 2018 15:02:32 GMT
recorded_with: VCR 3.0.3
