---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/how-is/example-repository
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4037'
      X-Ratelimit-Reset:
      - '1586185735'
      Etag:
      - W/"618fb9796f8af8fe6e1607021658b758"
      Last-Modified:
      - Sun, 07 Aug 2016 03:52:53 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":65114449,"node_id":"MDEwOlJlcG9zaXRvcnk2NTExNDQ0OQ==","name":"example-repository","full_name":"how-is/example-repository","private":false,"owner":{"login":"how-is","id":20577802,"node_id":"MDEyOk9yZ2FuaXphdGlvbjIwNTc3ODAy","avatar_url":"https://avatars0.githubusercontent.com/u/20577802?v=4","gravatar_id":"","url":"https://api.github.com/users/how-is","html_url":"https://github.com/how-is","followers_url":"https://api.github.com/users/how-is/followers","following_url":"https://api.github.com/users/how-is/following{/other_user}","gists_url":"https://api.github.com/users/how-is/gists{/gist_id}","starred_url":"https://api.github.com/users/how-is/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/how-is/subscriptions","organizations_url":"https://api.github.com/users/how-is/orgs","repos_url":"https://api.github.com/users/how-is/repos","events_url":"https://api.github.com/users/how-is/events{/privacy}","received_events_url":"https://api.github.com/users/how-is/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/how-is/example-repository","description":"Example
        repository for testing how_is.","fork":false,"url":"https://api.github.com/repos/how-is/example-repository","forks_url":"https://api.github.com/repos/how-is/example-repository/forks","keys_url":"https://api.github.com/repos/how-is/example-repository/keys{/key_id}","collaborators_url":"https://api.github.com/repos/how-is/example-repository/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/how-is/example-repository/teams","hooks_url":"https://api.github.com/repos/how-is/example-repository/hooks","issue_events_url":"https://api.github.com/repos/how-is/example-repository/issues/events{/number}","events_url":"https://api.github.com/repos/how-is/example-repository/events","assignees_url":"https://api.github.com/repos/how-is/example-repository/assignees{/user}","branches_url":"https://api.github.com/repos/how-is/example-repository/branches{/branch}","tags_url":"https://api.github.com/repos/how-is/example-repository/tags","blobs_url":"https://api.github.com/repos/how-is/example-repository/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/how-is/example-repository/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/how-is/example-repository/git/refs{/sha}","trees_url":"https://api.github.com/repos/how-is/example-repository/git/trees{/sha}","statuses_url":"https://api.github.com/repos/how-is/example-repository/statuses/{sha}","languages_url":"https://api.github.com/repos/how-is/example-repository/languages","stargazers_url":"https://api.github.com/repos/how-is/example-repository/stargazers","contributors_url":"https://api.github.com/repos/how-is/example-repository/contributors","subscribers_url":"https://api.github.com/repos/how-is/example-repository/subscribers","subscription_url":"https://api.github.com/repos/how-is/example-repository/subscription","commits_url":"https://api.github.com/repos/how-is/example-repository/commits{/sha}","git_commits_url":"https://api.github.com/repos/how-is/example-repository/git/commits{/sha}","comments_url":"https://api.github.com/repos/how-is/example-repository/comments{/number}","issue_comment_url":"https://api.github.com/repos/how-is/example-repository/issues/comments{/number}","contents_url":"https://api.github.com/repos/how-is/example-repository/contents/{+path}","compare_url":"https://api.github.com/repos/how-is/example-repository/compare/{base}...{head}","merges_url":"https://api.github.com/repos/how-is/example-repository/merges","archive_url":"https://api.github.com/repos/how-is/example-repository/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/how-is/example-repository/downloads","issues_url":"https://api.github.com/repos/how-is/example-repository/issues{/number}","pulls_url":"https://api.github.com/repos/how-is/example-repository/pulls{/number}","milestones_url":"https://api.github.com/repos/how-is/example-repository/milestones{/number}","notifications_url":"https://api.github.com/repos/how-is/example-repository/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/how-is/example-repository/labels{/name}","releases_url":"https://api.github.com/repos/how-is/example-repository/releases{/id}","deployments_url":"https://api.github.com/repos/how-is/example-repository/deployments","created_at":"2016-08-07T03:52:53Z","updated_at":"2016-08-07T03:52:53Z","pushed_at":"2017-08-05T20:39:30Z","git_url":"git://github.com/how-is/example-repository.git","ssh_url":"git@github.com:how-is/example-repository.git","clone_url":"https://github.com/how-is/example-repository.git","svn_url":"https://github.com/how-is/example-repository","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":4,"license":null,"forks":0,"open_issues":4,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"temp_clone_token":"","organization":{"login":"how-is","id":20577802,"node_id":"MDEyOk9yZ2FuaXphdGlvbjIwNTc3ODAy","avatar_url":"https://avatars0.githubusercontent.com/u/20577802?v=4","gravatar_id":"","url":"https://api.github.com/users/how-is","html_url":"https://github.com/how-is","followers_url":"https://api.github.com/users/how-is/followers","following_url":"https://api.github.com/users/how-is/following{/other_user}","gists_url":"https://api.github.com/users/how-is/gists{/gist_id}","starred_url":"https://api.github.com/users/how-is/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/how-is/subscriptions","organizations_url":"https://api.github.com/users/how-is/orgs","repos_url":"https://api.github.com/users/how-is/repos","events_url":"https://api.github.com/users/how-is/events{/privacy}","received_events_url":"https://api.github.com/users/how-is/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":1}'
  recorded_at: Tue, 01 Nov 2016 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/how-is/example-repository/commits?since=2016-08-01&until=2016-09-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4036'
      X-Ratelimit-Reset:
      - '1586185735'
      Etag:
      - W/"5714bcb97885c5be8fba1db4897b41a9"
      Last-Modified:
      - Sun, 07 Aug 2016 03:52:54 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"9e29405efa433529b86722542b8fb4b34dfd9edd","node_id":"MDY6Q29tbWl0NjUxMTQ0NDk6OWUyOTQwNWVmYTQzMzUyOWI4NjcyMjU0MmI4ZmI0YjM0ZGZkOWVkZA==","commit":{"author":{"name":"Ellen
        Marie Dash","email":"me@duckie.co","date":"2016-08-07T03:52:54Z"},"committer":{"name":"Ellen
        Marie Dash","email":"me@duckie.co","date":"2016-08-07T03:52:54Z"},"message":"Initial
        commit","tree":{"sha":"7bee2a10cc8c7c036d5006fa0aacadd869d09c4e","url":"https://api.github.com/repos/how-is/example-repository/git/trees/7bee2a10cc8c7c036d5006fa0aacadd869d09c4e"},"url":"https://api.github.com/repos/how-is/example-repository/git/commits/9e29405efa433529b86722542b8fb4b34dfd9edd","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/how-is/example-repository/commits/9e29405efa433529b86722542b8fb4b34dfd9edd","html_url":"https://github.com/how-is/example-repository/commit/9e29405efa433529b86722542b8fb4b34dfd9edd","comments_url":"https://api.github.com/repos/how-is/example-repository/commits/9e29405efa433529b86722542b8fb4b34dfd9edd/comments","author":{"login":"duckinator","id":39698,"node_id":"MDQ6VXNlcjM5Njk4","avatar_url":"https://avatars3.githubusercontent.com/u/39698?v=4","gravata[...]
- request:
    method: get
    uri: https://api.github.com/repos/how-is/example-repository/commits/9e29405efa433529b86722542b8fb4b34dfd9edd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4035[...]
- request:
    method: get
    uri: https://api.github.com/repos/how-is/example-repository/commits?author=me@duckie.co&until=2016-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4034'
      X-Ratelimit-Reset:
      - '1586185736'
      Etag:
      - '"8c4cf85a4bab58d75a53ee5818d0f4d4"'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 01 Nov 2016 00:00:00 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query {\n  repository(owner: \"how-is\", name: \"example-repository\")
        {\n    issues(last: 1, orderBy:{field: CREATED_AT, direction: ASC}) {\n      edges
        {\n        cursor\n      }\n    }\n  }\n}"}'
    headers:
      Authorization:
      - "<AUTHORIZATION TOKEN>"
      Bearer-Token:
      - "<BEARER TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; param=idl
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4909'
      X-Ratelimit-Reset:
      - '1586185736'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repository":{"issues":{"edges":[{"cursor":"Y3Vyc29yOnYyOpK5MjAxNi0wOC0wNlQyMzo1NDozMy0wNDowMM4KHp08"}]}}}}'
  recorded_at: Tue, 01 Nov 2016 00:00:00 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query {\n  repository(owner: \"how-is\", name: \"example-repository\")
        {\n    issues(first: 100, orderBy:{field: CREATED_AT, direction: ASC}) {\n      edges
        {\n        cursor\n        node {\n          number\n          createdAt\n          closedAt\n          updatedAt\n          state\n          title\n          url\n          labels(first:
        100) {\n            nodes {\n              name\n            }\n          }\n        }\n      }\n    }\n  }\n}"}'
    headers:
      Authorization:
      - "<AUTHORIZATION TOKEN>"
      Bearer-Token:
      - "<BEARER TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; param=idl
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4908'
      X-Ratelimit-Reset:
      - '1586185736'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repository":{"issues":{"edges":[{"cursor":"Y3Vyc29yOnYyOpK5MjAxNi0wOC0wNlQyMzo1MzoyNi0wNDowMM4KHp0f","node":{"number":1,"createdAt":"2016-08-07T03:53:26Z","closedAt":null,"updatedAt":"2016-08-07T03:53:49Z","state":"OPEN","title":"An
        issue","url":"https://github.com/how-is/example-repository/issues/1","labels":{"nodes":[{"name":"bug"}]}}},{"cursor":"Y3Vyc29yOnYyOpK5MjAxNi0wOC0wNlQyMzo1NDoxMy0wNDowMM4KHp00","node":{"number":2,"createdAt":"2016-08-07T03:54:13Z","closedAt":null,"updatedAt":"2016-08-07T03:54:13Z","state":"OPEN","title":"Another
        issue","url":"https://github.com/how-is/example-repository/issues/2","labels":{"nodes":[{"name":"bug"},{"name":"question"}]}}},{"cursor":"Y3Vyc29yOnYyOpK5MjAxNi0wOC0wNlQyMzo1NDozMy0wNDowMM4KHp08","node":{"number":3,"createdAt":"2016-08-07T03:54:33Z","closedAt":null,"updatedAt":"2016-08-07T03:54:33Z","state":"OPEN","title":"Yet
        another issue!","url":"https://github.com/how-is/example-repository/issues/3","labels":{"nodes":[]}}}]}}}}'
  recorded_at: Tue, 01 Nov 2016 00:00:00 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query {\n  repository(owner: \"how-is\", name: \"example-repository\")
        {\n    pullRequests(last: 1, orderBy:{field: CREATED_AT, direction: ASC})
        {\n      edges {\n        cursor\n      }\n    }\n  }\n}"}'
    headers:
      Authorization:
      - "<AUTHORIZATION TOKEN>"
      Bearer-Token:
      - "<BEARER TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; param=idl
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4907'
      X-Ratelimit-Reset:
      - '1586185736'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repository":{"pullRequests":{"edges":[{"cursor":"Y3Vyc29yOnYyOpK5MjAxNi0wOC0wN1QwMDowMjo1OS0wNDowMM4Eyikb"}]}}}}'
  recorded_at: Tue, 01 Nov 2016 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.travis-ci.org/repo/how-is%2Fexample-repository/branches?sort_by=default_branch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Travis-Api-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Branches::Find
      X-Oauth-Scopes:
      - ''
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "branches",
          "@href": "/repo/how-is%2Fexample-repository/branches?sort_by=default_branch",
          "@representation": "standard",
          "@pagination": {
            "limit": 25,
            "offset": 0,
            "count": 1,
            "is_first": true,
            "is_last": true,
            "next": null,
            "prev": null,
            "first": {
              "@href": "/repo/how-is%2Fexample-repository/branches?sort_by=default_branch",
              "offset": 0,
              "limit": 25
            },
            "last": {
              "@href": "/repo/how-is%2Fexample-repository/branches?sort_by=default_branch",
              "offset": 0,
              "limit": 25
            }
          },
          "branches": [
            {
              "@type": "branch",
              "@href": "/repo/9682159/branch/master",
              "@representation": "standard",
              "name": "master",
              "repository": {
                "@type": "repository",
                "@href": "/repo/9682159",
                "@representation": "minimal",
                "id": 9682159,
                "name": "example-repository",
                "slug": "how-is/example-repository"
              },
              "default_branch": true,
              "exists_on_github": true,
              "last_build": null
            }
          ]
        }
  recorded_at: Tue, 01 Nov 2016 00:00:00 GMT
- request:
    method: get
    uri: https://api.travis-ci.org/repo/how-is%2Fexample-repository/builds?branch.name=master&event_type=push
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Travis-Api-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Builds::Find
      X-Oauth-Scopes:
      - ''
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "builds",
          "@href": "/repo/how-is%2Fexample-repository/builds?event_type=push&branch.name=master",
          "@representation": "standard",
          "@pagination": {
            "limit": 25,
            "offset": 0,
            "count": 0,
            "is_first": true,
            "is_last": true,
            "next": null,
            "prev": null,
            "first": {
              "@href": "/repo/how-is%2Fexample-repository/builds?event_type=push&branch.name=master",
              "offset": 0,
              "limit": 25
            },
            "last": {
              "@href": "/repo/how-is%2Fexample-repository/builds?branch.name=master&event_type=push&limit=25&offset=-25",
              "offset": -25,
              "limit": 25
            }
          },
          "builds": [

          ]
        }
  recorded_at: Tue, 01 Nov 2016 00:00:00 GMT
- request:
    method: get
    uri: https://ci.appveyor.com/api/projects/how-is/example-repository/history?recordsNumber=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Project not found or access denied."}'
  recorded_at: Tue, 01 Nov 2016 00:00:00 GMT
recorded_with: VCR 4.0.0
