---
http_interactions:
- request:
    method: get
    uri: http://api.travis-ci.org/repos/how-is/how_is/builds?event_type=push
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://api.travis-ci.org/repos/how-is/how_is/builds?event_type=push
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 06 Aug 2017 19:19:39 GMT
- request:
    method: get
    uri: https://api.travis-ci.org/repos/how-is/how_is/builds?event_type=push
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Endpoint:
      - Travis::Api::App::Endpoint::Repos
      X-Pattern:
      - "/:owner_name/:name/builds"
      X-Oauth-Scopes:
      - public
      X-Accepted-Oauth-Scopes:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"builds":[{"id":261544542,"repository_id":8014235,"commit_id":76060199,"number":"594","event_type":"push","pull_request":false,"pull_request_title":null,"pull_request_number":null,"config":{"language":"ruby","rvm":["2.3.3","2.4.1"],".result":"configured","group":"stable","dist":"precise"},"state":"passed","started_at":"2017-08-06T14:56:07Z","finished_at":"2017-08-06T14:57:18Z","duration":137,"job_ids":[261544543,261544544]},{"id":261544463,"repository_id":8014235,"commit_id":76060169,"number":"593","event_type":"push","pull_request":false,"pull_request_title":null,"pull_request_number":null,"config":{"language":"ruby","rvm":["2.3.3","2.4.1"],".result":"configured","group":"stable","dist":"precise"},"state":"passed","started_at":"2017-08-06T14:55:34Z","finished_at":"2017-08-06T14:56:46Z","duration":138,"job_ids":[261544464,261544465]},{"id":261543823,"repository_id":8014235,"commit_id":7605995[...]
- request:
    method: get
    uri: http://api.travis-ci.org/repos/how-is/how_is/builds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://api.travis-ci.org/repos/how-is/how_is/builds
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 08 Dec 2017 22:42:35 GMT
- request:
    method: get
    uri: https://api.travis-ci.org/repos/how-is/how_is/builds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Endpoint:
      - Travis::Api::App::Endpoint::Repos
      X-Pattern:
      - "/:owner_name/:name/builds"
      X-Oauth-Scopes:
      - public
      X-Accepted-Oauth-Scopes:
      - public
    body:
      enco[...]
- request:
    method: get
    uri: http://api.travis-ci.org/repos///builds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://api.travis-ci.org/repos///builds
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 09 Dec 2017 02:16:04 GMT
- request:
    method: get
    uri: https://api.travis-ci.org/repos///builds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Oauth-Scopes:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"file":"not found"}'
  recorded_at: Sat, 09 Dec 2017 02:16:05 GMT
recorded_with: VCR 3.0.3
