---
http_interactions:
- request:
    method: get
    uri: http://api.travis-ci.org/repos/how-is/how_is/builds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://api.travis-ci.org/repos/how-is/how_is/builds
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 06 Jan 2018 14:58:04 GMT
- request:
    method: get
    uri: https://api.travis-ci.org/repos/how-is/how_is/builds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Endpoint:
      - Travis::Api::App::Endpoint::Repos
      X-Pattern:
      - "/:owner_name/:name/builds"
      X-Oauth-Scopes:
      - public
      X-Accepted-Oauth-Scopes:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"builds":[{"id":325787402,"repository_id":8014235,"commit_id":96770548,"number":"833","event_type":"pull_request","pull_request":true,"pull_request_title":"[WIP]
        Idempotent reports","pull_request_number":217,"config":{"language":"ruby","rvm":["2.3.3","2.4.1"],".result":"configured","group":"stable","dist":"trusty"},"state":"passed","started_at":"2018-01-06T14:13:43Z","finished_at":"2018-01-06T14:14:47Z","duration":110,"job_ids":[325787403,325787404]},{"id":325787387,"repository_id":8014235,"commit_id":96770545,"number":"832","event_type":"push","pull_request":false,"pull_request_title":null,"pull_request_number":null,"config":{"language":"ruby","rvm":["2.3.3","2.4.1"],".result":"configured","group":"stable","dist":"trusty"},"state":"passed","started_at":"2018-01-06T14:17:43Z","finished_at":"2018-01-06T14:18:27Z","duration":109,"job_ids":[325787388,325787389]},{"id":325787281,"repository_id":8014235,"commit_id":96770516[...]
