---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/how-is/example-repository
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZHVja2luYXRvcjo5MTgyNzc3ZmYzYzAwNjc5NTE5M2E1NzBjZGFjMzI2YjY0NDU5ZGM5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4042'
      X-Ratelimit-Reset:
      - '1515251555'
      Etag:
      - W/"02dd21f50224a2337aab5dbd59c947ca"
      Last-Modified:
      - Sun, 07 Aug 2016 03:52:53 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":65114449,"name":"example-repository","full_name":"how-is/example-repository","owner":{"login":"how-is","id":20577802,"avatar_url":"https://avatars0.githubusercontent.com/u/20577802?v=4","gravatar_id":"","url":"https://api.github.com/users/how-is","html_url":"https://github.com/how-is","followers_url":"https://api.github.com/users/how-is/followers","following_url":"https://api.github.com/users/how-is/following{/other_user}","gists_url":"https://api.github.com/users/how-is/gists{/gist_id}","starred_url":"https://api.github.com/users/how-is/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/how-is/subscriptions","organizations_url":"https://api.github.com/users/how-is/orgs","repos_url":"https://api.github.com/users/how-is/repos","events_url":"https://api.github.com/users/how-is/events{/privacy}","received_events_url":"https://api.github.com/users/how-is/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/how-is/example-repository","description":"Example
        repository for testing how_is.","fork":false,"url":"https://api.github.com/repos/how-is/example-repository","forks_url":"https://api.github.com/repos/how-is/example-repository/forks","keys_url":"https://api.github.com/repos/how-is/example-repository/keys{/key_id}","collaborators_url":"https://api.github.com/repos/how-is/example-repository/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/how-is/example-repository/teams","hooks_url":"https://api.github.com/repos/how-is/example-repository/hooks","issue_events_url":"https://api.github.com/repos/how-is/example-repository/issues/events{/number}","events_url":"https://api.github.com/repos/how-is/example-repository/events","assignees_url":"https://api.github.com/repos/how-is/example-repository/assignees{/user}","branches_url":"https://api.github.com/repos/how-is/example-repository/branches{/branch}","tags_url":"https://api.github.com/repos/how-is/example-repository/tags","blobs_url":"https://api.github.com/repos/how-is/example-repository/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/how-is/example-repository/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/how-is/example-repository/git/refs{/sha}","trees_url":"https://api.github.com/repos/how-is/example-repository/git/trees{/sha}","statuses_url":"https://api.github.com/repos/how-is/example-repository/statuses/{sha}","languages_url":"https://api.github.com/repos/how-is/example-repository/languages","stargazers_url":"https://api.github.com/repos/how-is/example-repository/stargazers","contributors_url":"https://api.github.com/repos/how-is/example-repository/contributors","subscribers_url":"https://api.github.com/repos/how-is/example-repository/subscribers","subscription_url":"https://api.github.com/repos/how-is/example-repository/subscription","commits_url":"https://api.github.com/repos/how-is/example-repository/commits{/sha}","git_commits_url":"https://api.github.com/repos/how-is/example-repository/git/commits{/sha}","comments_url":"https://api.github.com/repos/how-is/example-repository/comments{/number}","issue_comment_url":"https://api.github.com/repos/how-is/example-repository/issues/comments{/number}","contents_url":"https://api.github.com/repos/how-is/example-repository/contents/{+path}","compare_url":"https://api.github.com/repos/how-is/example-repository/compare/{base}...{head}","merges_url":"https://api.github.com/repos/how-is/example-repository/merges","archive_url":"https://api.github.com/repos/how-is/example-repository/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/how-is/example-repository/downloads","issues_url":"https://api.github.com/repos/how-is/example-repository/issues{/number}","pulls_url":"https://api.github.com/repos/how-is/example-repository/pulls{/number}","milestones_url":"https://api.github.com/repos/how-is/example-repository/milestones{/number}","notifications_url":"https://api.github.com/repos/how-is/example-repository/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/how-is/example-repository/labels{/name}","releases_url":"https://api.github.com/repos/how-is/example-repository/releases{/id}","deployments_url":"https://api.github.com/repos/how-is/example-repository/deployments","created_at":"2016-08-07T03:52:53Z","updated_at":"2016-08-07T03:52:53Z","pushed_at":"2017-08-05T20:39:30Z","git_url":"git://github.com/how-is/example-repository.git","ssh_url":"git@github.com:how-is/example-repository.git","clone_url":"https://github.com/how-is/example-repository.git","svn_url":"https://github.com/how-is/example-repository","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":4,"license":null,"forks":0,"open_issues":4,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"organization":{"login":"how-is","id":20577802,"avatar_url":"https://avatars0.githubusercontent.com/u/20577802?v=4","gravatar_id":"","url":"https://api.github.com/users/how-is","html_url":"https://github.com/how-is","followers_url":"https://api.github.com/users/how-is/followers","following_url":"https://api.github.com/users/how-is/following{/other_user}","gists_url":"https://api.github.com/users/how-is/gists{/gist_id}","starred_url":"https://api.github.com/users/how-is/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/how-is/subscriptions","organizations_url":"https://api.github.com/users/how-is/orgs","repos_url":"https://api.github.com/users/how-is/repos","events_url":"https://api.github.com/users/how-is/events{/privacy}","received_events_url":"https://api.github.com/users/how-is/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":1}'
  recorded_at: Tue, 01 Nov 2016 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/how-is/example-repository/commits?since=2016-11-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZHVja2luYXRvcjo5MTgyNzc3ZmYzYzAwNjc5NTE5M2E1NzBjZGFjMzI2YjY0NDU5ZGM5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4041'
      X-Ratelimit-Reset:
      - '1515251555'
      Etag:
      - W/"16344326ad40df166c215da19f534621"
      Last-Modified:
      - Sat, 05 Aug 2017 20:39:01 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"40c01ab6ebec6cbd8ad9e521a732f941c169e557","commit":{"author":{"name":"Ellen
        Marie Dash","email":"me@duckie.co","date":"2017-08-05T20:39:01Z"},"committer":{"name":"Ellen
        Marie Dash","email":"me@duckie.co","date":"2017-08-05T20:39:01Z"},"message":"meep","tree":{"sha":"6911e0637822f44b83f04f47821adab56fdbc0b9","url":"https://api.github.com/repos/how-is/example-repository/git/trees/6911e0637822f44b83f04f47821adab56fdbc0b9"},"url":"https://api.github.com/repos/how-is/example-repository/git/commits/40c01ab6ebec6cbd8ad9e521a732f941c169e557","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/how-is/example-repository/commits/40c01ab6ebec6cbd8ad9e521a732f941c169e557","html_url":"https://github.com/how-is/example-repository/commit/40c01ab6ebec6cbd8ad9e521a732f941c169e557","comments_url":"https://api.github.com/repos/how-is/example-repository/commits/40c01ab6ebec6cbd8ad9e521a732f941c169e557/comments","author":{"login":"duckinator","id":39698,"avatar_url":"https://avatars3.githubusercontent.com/u/39698?v=4","gravatar_id":"","url":"https://api.g[...]
- request:
    method: get
    uri: https://api.github.com/repos/how-is/example-repository/commits/40c01ab6ebec6cbd8ad9e521a732f941c169e557
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZHVja2luYXRvcjo5MTgyNzc3ZmYzYzAwNjc5NTE5M2E1NzBjZGFjMzI2YjY0NDU5ZGM5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      [...]
[...]
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query {\n  repository(owner: \"how-is\", name: \"example-repository\")
        {\n    issues(last: 1, orderBy:{field: CREATED_AT, direction: ASC}) {\n      edges
        {\n        cursor\n      }\n    }\n  }\n}"}'
    headers:
      Authorization:
      - bearer 9182777ff3c006795193a570cdac326b64459dc9
      Bearer-Token:
      - 9182777ff3c006795193a570cdac326b64459dc9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4957'
      X-Ratelimit-Reset:
      - '1515254347'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; param=idl
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repository":{"issues":{"edges":[{"cursor":"Y3Vyc29yOnYyOpK5MjAxNi0wOC0wNlQyMzo1NDozMy0wNDowMM4KHp08"}]}}}}'
  recorded_at: Tue, 01 Nov 2016 00:00:00 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query {\n  repository(owner: \"how-is\", name: \"example-repository\")
        {\n    issues(first: 100, orderBy:{field: CREATED_AT, direction: ASC}) {\n      edges
        {\n        cursor\n        node {\n          number\n          createdAt\n          closedAt\n          updatedAt\n          state\n          title\n          url\n          labels(first:
        100) {\n            nodes {\n              name\n            }\n          }\n        }\n      }\n    }\n  }\n}"}'
    headers:
      Authorization:
      - bearer 9182777ff3c006795193a570cdac326b64459dc9
      Bearer-Token:
      - 9182777ff3c006795193a570cdac326b64459dc9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4956'
      X-Ratelimit-Reset:
      - '1515254347'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; param=idl
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repository":{"issues":{"edges":[{"cursor":"Y3Vyc29yOnYyOpK5MjAxNi0wOC0wNlQyMzo1MzoyNi0wNDowMM4KHp0f","node":{"number":1,"createdAt":"2016-08-07T03:53:26Z","closedAt":null,"updatedAt":"2016-08-07T03:53:49Z","state":"OPEN","title":"An
        issue","url":"https://github.com/how-is/example-repository/issues/1","labels":{"nodes":[{"name":"bug"}]}}},{"cursor":"Y3Vyc29yOnYyOpK5MjAxNi0wOC0wNlQyMzo1NDoxMy0wNDowMM4KHp00","node":{"number":2,"createdAt":"2016-08-07T03:54:13Z","closedAt":null,"updatedAt":"2016-08-07T03:54:13Z","state":"OPEN","title":"Another
        issue","url":"https://github.com/how-is/example-repository/issues/2","labels":{"nodes":[{"name":"bug"},{"name":"question"}]}}},{"cursor":"Y3Vyc29yOnYyOpK5MjAxNi0wOC0wNlQyMzo1NDozMy0wNDowMM4KHp08","node":{"number":3,"createdAt":"2016-08-07T03:54:33Z","closedAt":null,"updatedAt":"2016-08-07T03:54:33Z","state":"OPEN","title":"Yet
        another issue!","url":"https://github.com/how-is/example-repository/issues/3","labels":{"nodes":[]}}}]}}}}'
  recorded_at: Tue, 01 Nov 2016 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/how-is/example-repository/issues
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZHVja2luYXRvcjo5MTgyNzc3ZmYzYzAwNjc5NTE5M2E1NzBjZGFjMzI2YjY0NDU5ZGM5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4038'
      X-Ratelimit-Reset:
      - '1515251555'
      Etag:
      - W/"455106878a3e045a33ab3ed687ee8b0f"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/how-is/example-repository/issues/4","repository_url":"https://api.github.com/repos/how-is/example-repository","labels_url":"https://api.github.com/repos/how-is/example-repository/issues/4/labels{/name}","comments_url":"https://api.github.com/repos/how-is/example-repository/issues/4/comments","events_url":"https://api.github.com/repos/how-is/example-repository/issues/4/events","html_url":"https://github.com/how-is/example-repository/pull/4","id":169778701,"number":4,"title":"Example
        Pull Request.","user":{"login":"duckinator","id":39698,"avatar_url":"https://avatars3.githubusercontent.com/u/39698?v=4","gravatar_id":"","url":"https://api.github.com/users/duckinator","html_url":"https://github.com/duckinator","followers_url":"https://api.github.com/users/duckinator/followers","following_url":"https://api.github.com/users/duckinator/following{/other_user}","gists_url":"https://api.github.com/users/duckinator/gists{/gist_id}","starred_url":"https://api.github.com/users/duckinator/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/duckinator/subscriptions","organizations_url":"https://api.github.com/users/duckinator/orgs","repos_url":"https://api.github.com/users/duckinator/repos","events_url":"https://api.github.com/users/duckinator/events{/privacy}","received_events_url":"https://api.github.com/users/duckinator/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2016-08-07T04:02:59Z","updated_at":"2017-08-05T20:23:15Z","closed_at":null,"author_association":"OWNER","pull_request":{"url":"https://api.github.com/repos/how-is/example-repository/pulls/4","html_url":"https://github.com/how-is/example-repository/pull/4","diff_url":"https://github.com/how-is/example-repository/pull/4.diff","patch_url":"https://github.com/how-is/example-repository/pull/4.patch"},"body":""},{"url":"https://api.github.com/repos/how-is/example-repository/issues/3","repository_url":"https://api.github.com/repos/how-is/example-repository","labels_url":"https://api.github.com/repos/how-is/example-repository/issues/3/labels{/name}","comments_url":"https://api.github.com/repos/how-is/example-repository/issues/3/comments","events_url":"https://api.github.com/repos/how-is/example-repository/issues/3/events","html_url":"[...]
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query {\n  repository(owner: \"how-is\", name: \"example-repository\")
        {\n    pulls(last: 1, orderBy:{field: CREATED_AT, direction: ASC}) {\n      edges
        {\n        cursor\n      }\n    }\n  }\n}"}'
    headers:
      Authorization:
      - bearer 9182777ff3c006795193a570cdac326b64459dc9
      Bearer-Token:
      - 9182777ff3c006795193a570cdac326b64459dc9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4956'
      X-Ratelimit-Reset:
      - '1515254347'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4; param=idl
    body:
      encoding: ASCII-8BIT
      string: '{"data":null,"errors":[{"message":"Field ''pulls'' doesn''t exist on
        type ''Repository''","locations":[{"line":3,"column":5}]}]}'
  recorded_at: Tue, 01 Nov 2016 00:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/how-is/example-repository/pulls
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZHVja2luYXRvcjo5MTgyNzc3ZmYzYzAwNjc5NTE5M2E1NzBjZGFjMzI2YjY0NDU5ZGM5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4037'
      X-Ratelimit-Reset:
      - '1515251555'
      Etag:
      - W/"11fce4bf2ba389dc8ff6dab35830cb88"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/how-is/example-repository/pulls/4","id":80357659,"html_url":"https://github.com/how-is/example-repository/pull/4","diff_url":"https://github.com/how-is/example-repository/pull/4.diff","patch_url":"https://github.com/how-is/example-repository/pull/4.patch","issue_url":"https://api.github.com/repos/how-is/example-repository/issues/4","number":4,"state":"open","locked":false,"title":"Example
        Pull Request.","user":{"login":"duckinator","id":39698,"avatar_url":"https://avatars3.githubusercontent.com/u/39698?v=4","gravatar_id":"","url":"https://api.github.com/users/duckinator","html_url":"https://github.com/duckinator","followers_url":"https://api.github.com/users/duckinator/followers","following_url":"https://api.github.com/users/duckinator/following{/other_user}","gists_url":"https://api.github.com/users/duckinator/gists{/gist_id}","starred_url":"https://api.github.com/users/duckinator/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/duckinator/subscriptions","organizations_url":"https://api.github.com/users/duckinator/orgs","repos_url":"https://api.github.com/users/duckinator/repos","events_url":"https://api.github.com/users/duckinator/events{/privacy}","received_events_url":"https://api.github.com/users/duckinator/received_events","type":"User","site_admin":false},"body":"","created_at":"2016-08-07T04:02:59Z","updated_at":"2017-08-05T20:23:15Z","closed_at":null,"merged_at":null,"merge_commit_sha":"1713f338439097a5604751675168ae154d260831","assignee":null,"assignees":[],"requested_reviewers":[],"milestone":null,"commits_url":"https://api.github.com/repos/how-is/example-repository/pulls/4/commits","review_comments_url":"https://api.github.com/repos/how-is/example-repository/pulls/4/comments","review_comment_url":"https://api.github.com/repos/how-is/example-repository/pulls/comments{/number}","comments_url":"https://api.github.com/repos/how-is/example-repository/issues/4/comments","statuses_url":"https://api.github.com/repos/how-is/example-repository/statuses/9eb3c2563f66404af63f676a248acafa16cae53a","head":{"label":"how-is:example-branch","ref":"example-branch","sha":"9eb3c2563f66404af63f676a248acafa16cae53a","user":{"login":"how-is","id":20577802,"avatar_url":"https://avatars0.githubusercontent.com/u/20577802?v=4","gravatar_id":"","url":"https://api.github.com/users/how-is","html_url":"https://github.com/how-is","followers_url":"https://api.github.com/users/how-is/followers","following_url":"https://api.github.com/users/how-is/following{/other_user}","gists_url":"https://api.github.com/users/how-is/gists{/gist_id}","starred_url":"https://api.github.com/users/how-is/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/how-is/subscriptions","organizations_url":"https://api.github.com/users/how-is/orgs","repos_url":"https://api.github.com/users/how-is/repos","events_url":"https://api.github.com/users/how-is/events{/privacy}","received_events_url":"https://api.github.com/users/how-is/received_events","type":"Organization","site_admin":false},"repo":{"id":65114449,"name":"example-repository","full_name":"how-is/example-repository","owner":{"login":"how-is","id":20577802,"avatar_url":"https://avatars0.githubusercontent.com/u/20577802?v=4","gravatar_id":"","url":"https://api.github.com/users/how-is","html_url":"https://github.com/how-is","followers_url":"https://api.github.com/users/how-is/followers","following_url":"https://api.github.com/users/how-is/following{/other_user}","gists_url":"https://api.github.com/users/how-is/gists{/gist_id}","[...]
- request:
    method: get
    uri: http://api.travis-ci.org/repos/how-is/example-repository/builds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://api.travis-ci.org/repos/how-is/example-repository/builds
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 Nov 2016 00:00:00 GMT
- request:
    method: get
    uri: https://api.travis-ci.org/repos/how-is/example-repository/builds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Endpoint:
      - Travis::Api::App::Endpoint::Repos
      X-Pattern:
      - "/:owner_name/:name/builds"
      X-Oauth-Scopes:
      - public
      X-Accepted-Oauth-Scopes:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"builds":[],"commits":[]}'
  recorded_at: Tue, 01 Nov 2016 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/how-is/example-repository/commits?since=2016-08-01&until=2016-09-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZHVja2luYXRvcjo5MTgyNzc3ZmYzYzAwNjc5NTE5M2E1NzBjZGFjMzI2YjY0NDU5ZGM5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000[...]
- request:
    method: get
    uri: https://api.travis-ci.org/repo/how-is%2Fexample-repository/branches?sort_by=default_branch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Travis-Api-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Branches::Find
      X-Oauth-Scopes:
      - ''
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "branches",
          "@href": "/repo/how-is%2Fexample-repository/branches?sort_by=default_branch",
          "@representation": "standard",
          "@pagination": {
            "limit": 25,
            "offset": 0,
            "count": 1,
            "is_first": true,
            "is_last": true,
            "next": null,
            "prev": null,
            "first": {
              "@href": "/repo/how-is%2Fexample-repository/branches?sort_by=default_branch",
              "offset": 0,
              "limit": 25
            },
            "last": {
              "@href": "/repo/how-is%2Fexample-repository/branches?sort_by=default_branch",
              "offset": 0,
              "limit": 25
            }
          },
          "branches": [
            {
              "@type": "branch",
              "@href": "/repo/9682159/branch/master",
              "@representation": "standard",
              "name": "master",
              "repository": {
                "@type": "repository",
                "@href": "/repo/9682159",
                "@representation": "minimal",
                "id": 9682159,
                "name": "example-repository",
                "slug": "how-is/example-repository"
              },
              "default_branch": true,
              "exists_on_github": true,
              "last_build": null
            }
          ]
        }
  recorded_at: Tue, 01 Nov 2016 00:00:00 GMT
- request:
    method: get
    uri: https://api.travis-ci.org/repo/how-is%2Fexample-repository/builds?branch.name=master&event_type=push
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Travis-Api-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Builds::Find
      X-Oauth-Scopes:
      - ''
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "builds",
          "@href": "/repo/how-is%2Fexample-repository/builds?event_type=push&branch.name=master",
          "@representation": "standard",
          "@pagination": {
            "limit": 25,
            "offset": 0,
            "count": 0,
            "is_first": true,
            "is_last": true,
            "next": null,
            "prev": null,
            "first": {
              "@href": "/repo/how-is%2Fexample-repository/builds?event_type=push&branch.name=master",
              "offset": 0,
              "limit": 25
            },
            "last": {
              "@href": "/repo/how-is%2Fexample-repository/builds?branch.name=master&event_type=push&limit=25&offset=-25",
              "offset": -25,
              "limit": 25
            }
          },
          "builds": [

          ]
        }
  recorded_at: Tue, 01 Nov 2016 00:00:00 GMT
- request:
    method: get
    uri: https://ci.appveyor.com/api/projects/how-is/example-repository
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Project not found or access denied."}'
  recorded_at: Tue, 01 Nov 2016 00:00:00 GMT
recorded_with: VCR 4.0.0
